body{
    background-color: #e4e3e3;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color:white;
    align-items: center;
    margin: 20px 60px;
    padding: 0 60px;
    margin-bottom: 0%;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
   rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav a:hover{
    color: rgb(167, 167, 167);  
}
.logo img{
    height: 100px;
    width:  100px;
}
a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}
main{
    background-color: white;
    margin: 60px;
    margin-top: 5px;
    padding: 0 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0 60px;
    margin-bottom: 0%;
}
.titulo{
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 50px;
   margin: 0;
   padding: 20px;
}
.portada{
    padding: 30px;  
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
.portada img{
    height: 300px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px  rgb(41, 41, 41);
}
.portada img:hover{
transform: scale(1.1);
}
.portada-info h2{
font-size: 40px;
margin-bottom: 10px;
}
.portada-info p{
    font-size: 18px;
}
.portada-info a{
    color: white ;
    background-color:rgb(0, 0, 0) ;
    width: 90px;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
}
.portada-info a:hover{
    color: rgb(167, 167, 167);
}
.portada-info{
    display: flex;
   flex-direction: column;
   padding: 20px;
}
.info-gym{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    padding: 10px;
}

.info-gym h2{
    font-size: 40px;
    margin: 12px;
} 
.beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.beneficios h2{
    font-size: 40px;
    margin-bottom: 0;
}
.beneficios p{
    font-size: 18px;
}
.benef-cards{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   margin-top: 50px; 
   padding: 20px;
}
.benef-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.benef-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.benef-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.benef-cards img{
    height: 50px;
    width:  50px;
}
.contacto{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 0;
}
.info-contacto{
    display: flex;
    flex-direction: column;
}
.info-contacto h2{
    margin: 0;
    font-size: 40px;
}
.info-contacto p{
    font-size: 18px;
}
.ul-info{
    list-style-type: none;
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-size: 18px;
}
.ul-info li{
    display: flex;
    align-items: center;
}
.ul-info img{
   margin-right: 10px;
   height: 20px;
   width:  20px;
   border-style: solid;
   border-color: rgb(167, 167, 167);
   border-radius: 100px;
   padding: 5px;
}
.redes-sociales{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociales{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.redes-sociales img{
    height: 35px;
    width:  35px;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 100px;
    padding: 5px;
}
.mapa{
    width: 450px;
    height: 300px;
    border-style: solid;
    border-color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
footer{
    display: flex;
    justify-content: center;
    background-color:white;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 0 60px;
    margin-top: 5px;
}
@media (max-width: 768px) {
        header{
        margin: 0 0 5px;
       }
       main{
        margin: 0 0 5px;
       }
       footer{
        margin: 0 ;
       }
       .portada{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px;
       }
       .portada img:hover{
        transform: none;
       }
       .benef-cards{
        justify-content: center;
        align-items: flex-start;
        margin-top: 0;
       }
       .contacto{
        justify-content: center;
        flex-direction: column;
        align-items: center;
       }
       .info-contacto{
        display: flex;
        align-items: center;
    }
    .info-contacto h2{
        font-size: 50px;
    }
    
}
@media (max-width: 420px){
    header{
        padding: 0;
    }
    .nav-info{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    }
    .nav-info a{
        border-style: solid;
        border-radius: 18px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: black;
        color: white;
        font-size: 10px;
    }
    .logo{
        margin-left: 30px;
    }
    main{
        padding: 20px;
    }
    .titulo{
        font-size: 30px;
        display: flex;
        padding: 10px;
    }
    .portada-info{
        padding: 0;
    }
    .portada img{
        height: 190px;
        width:  300px;
        margin-top: 15px;
    }
    .info-gym h1{
        font-size: 30px;
    }
    .benef-cards{
        padding: 0;
        border: 0;
        display: flex;
        flex-direction: column;
    }
    .mapa{
        width: 300px;
        height: 250px;
    }
}
